<!-- #form="ngForm" → cria uma referência do formulário
ngForm → Angular controla validação
novalidate → desativa validação padrão do HTML
d-flex flex-column → layout em coluna -->
<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
    <div class="content-titles">
        <h1 class="fw-bold custom-title">Geração de Certificados</h1>

        <!-- Parágrafo com margem inferior -->
        <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
    </div>


 <div class="custom-card w-100 ">

        <h2 class="card-title">Novo Certificado</h2>

        <div class="mb-3 custom-input-group">
            <!-- Aplica classe se estiver inválido -->
            <label [ngClass]="{'text-danger-label': campoInvalido(nomeRef)} " for="nome" class="form-label">Nome</label>

            <!-- [(ngModel)]="nome" → two-way binding
            liga input ↔ variável TS
            name="nome" → obrigatório pro Angular
            #nomeRef="ngModel" → referência do campo
            required → obrigatório
            maxlengthLimite de caracteres
            placeholder- Texto de ajuda no input -->
            <input [(ngModel)]="certificado.nome" name="nome" #nomeRef="ngModel" maxlength="150" required id="nome" type="text" class="form-control custom-input" placeholder= "Nome do Aluno" >

                @if (campoInvalido(nomeRef)) {
                <div class="erro-message d-flex align-items-center">
                    <i class="ph ph-warning-circle"></i>
                    <p class="m-0">Nome do aluno é obrigatório.</p>
                </div>
            }

        </div>


        <div class="mb-3 d-flex align-items-end custom-input-group">
           <div class="flex-grow-1 me-2">
                <label  for="atividade" class="form-label">Atividade</label>

                
                <input #atividadeRef="ngModel" name="atividade" maxlength="50" required [(ngModel)]="atividade" id="atividade" type="text" class="form-control custom-input" placeholder="Atividade Exercida">

                

           </div>

           <!-- (click) → chama função
            [disabled] → desativa se vazio -->
           <app-secondary-button (click)="adicionarAtividade()" [disabled]=" ! atividade || atividade.length == 0" textoAdicionar="Adicionar" phClass="ph ph-plus"></app-secondary-button>

        </div>

            <div class="atividade-group">
                <label class="form-label">Lista de Atividades</label>
                <div class="item-list w-100">

                    <!-- for - Loop (repete elementos) -->
                    @for (atividade of certificado.atividades; track $index) {
                        <div class="item">
                        <span class="item-text">{{atividade}}</span>
                        <div (click)="excluirAtividade($index)" class="remove-btn">
                            <i class="ph-bold ph-x"></i>
                        </div>

                    </div>   
                    
                    @if ($index + 1 != certificado.atividades.length) {
                        <hr>
                    }

                    }
                    
                </div>
                
            </div>
            
            <app-primary-button (click)="submit()" [disabled]="!formValido()" textoBotao="Gerar certificado"></app-primary-button>
            
    </div>

</form>
